@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(fundo_azulfinal.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: mediumblue;
}

.cabeçalho-link {
    display: flex;
    gap: 6rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a {
    color: antiquewhite;
    font-size: 25px;
}

button {
    color: blue;
    background: transparent;
    border: solid 1px blue;
    padding: 5px;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #007fff;
    color:antiquewhite;
    transition: 0,5;
}

.container-text{
    padding: 200px 0 0 500px;
}

.text h3{
    color:antiquewhite;
    font-size: 20px;
}

.text h1{
    color:antiquewhite;
    margin-top: 15px;
}

.text span{
    color:blue;
}

.text p{
    color: antiquewhite;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
}

.contatos a{
    color: blue;
    margin-top: 5px;
    padding: 100px;
    gap: 100px;
}

.sobre{
    color: aliceblue;
    padding: 300px 200px 0 200px;
    font-size: 20px;
}

.projetos{
    color:aliceblue;
    padding: 200px 200px 200px 200px;
    font-size: 20px;
}

.contatosf{
    color: aliceblue;
    padding: 75px 200px 200px 200px;
    font-size: 20px;
    text-align: center;
    align-items:center;
    display: flex;
    justify-content: space-around;
}

.titulomc{
    color: aliceblue;
    padding: 200px 200px 50px 200px;
    font-size: 20px;

}

.imagens{
    width: 40px;
    height: 100px;
}

